astroid==2.2.5
autopep8==1.4.3
certifi==2019.3.9
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-Cors==3.0.7
idna==2.8
isort==4.3.15
itsdangerous==1.1.0
Jinja2==2.10.1
lazy-object-proxy==1.3.1
MarkupSafe==1.1.1
mccabe==0.6.1
Naked==0.1.31
pipenv==2018.11.26
pycodestyle==2.5.0
pycrypto==2.6.1
pylint==2.3.1
PyYAML==5.1
requests==2.21.0
shellescape==3.4.1
six==1.12.0
typed-ast==1.3.2
urllib3==1.26.5
virtualenv==16.4.3
virtualenv-clone==0.5.1
Werkzeug==0.15.3
wrapt==1.11.1
